/*Import Font*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&family=Lexend+Deca:wght@200;300;400&display=swap');

/*
    font-family: 'Inter', sans-serif;

    font-family: 'Lexend Deca', sans-serif;
*/

/*Colors*/

:root{
    --Very-dark-blue: hsl(233, 47%, 7%);
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    --Soft-violet: hsl(277, 64%, 61%);
    --Slightly-transparent-white-1: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white-2: hsla(0, 0%, 100%, 0.6);
}

/*Reset CSS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-size: 1rem;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    
}

main{
    position: absolute;
    top: 25%;
    max-width: 1440px;

}

/*Card - Left Side*/

.card-container{
    display: flex;
    width: 1200px;
    height: 490px;
    background-color: var(--Dark-desaturated-blue);
    border: 0 solid black;
    border-radius: 20px;

}

.left-side{
    flex:1; 
}


/*Title*/

.left-side h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2.3rem;
    color: white;
    padding-top: 80px;
    padding-right: 100px;
    padding-bottom: 20px;
    padding-left: 80px;
    

}

.left-side span{
    color: var(--Soft-violet);
}

/*Description*/

.left-side > p{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 200;
    line-height: 2.0;
    color: var(--Slightly-transparent-white-1);
    padding-left: 80px;
    padding-right: 150px;
    padding-bottom: 100px;

}

/*Numbers Itens*/

.numbers-itens{
    padding-left: 50px;
    color: var(--Slightly-transparent-white-2);
    display: flex;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    justify-content: space-between;

}


/*Card - Right Side*/

.right-side{
    flex: 1;
}

.right-side img{
    width: 600px;
    height: 490px;
    border-radius: 0 20px 20px 0;
}






