/****Import Font****/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&family=Lexend+Deca:wght@200;300;400&display=swap');

/*
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
*/

/****Colors****/

:root{
    --Very-dark-blue: hsl(233, 47%, 7%);
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    --Soft-violet: hsl(277, 64%, 61%);
    --Slightly-transparent-white-1: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white-2: hsla(0, 0%, 100%, 0.6);
}

/****Reset CSS****/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-dark-blue); 
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

.card{
    display: flex;
    background-color: var(--Dark-desaturated-blue);
    border-radius: 15px;
    max-width: 1140px;
    overflow: hidden;
    margin: 0 1.5rem;
}

/****Card Information****/

.box-info{
    padding: 8.0rem 8.0rem 4.0rem 8.0rem;
    width: 100%;
    height: auto;
    
}

.box-info h1{
    color: white;
    font-weight: bold;
    font-size: 4.0rem;
    line-height: 5.0rem;
    margin-bottom: 2.4rem;
}

.box-info h1 span{
    color: var(--Soft-violet);
}

.box-info p{
    color: var(--Slightly-transparent-white-2);
    font-size: 1.5rem;
    line-height: 2.4rem;
    letter-spacing: 0.5px;
    margin-bottom: 3.2rem;
    padding-right: 2.0rem;
}

/****Stats Information****/

.stats{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6.5rem;
    margin-right: 6.5rem;
       
}

.stat-block{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stats .stat-block .number{
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.stats .stat-block .text{
    color: var(--Slightly-transparent-white-1);
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 0.1px;
    font-family: 'Lexend Deca', sans-serif;
}

/****Image Part****/

.card-img{
    background-color: var(--Soft-violet);
    border-radius: 0 15px 15px 0;
    position: relative;
    
}

img{
    height: 100%;
    border-radius: 0 15px 15px 0;
    mix-blend-mode: multiply;
    
}

.img-color{
    background-color: var(--Soft-violet);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 0 15px 15px 0;
    opacity: 0.25;  
}

.img-mobile{
    display: none;
}
